body {
    font-family: tahoma;
    color: #282828;
    margin: 0px;
}

img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 10px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

button {
    margin-top: 10px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

.navBar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    display: flex;
    padding: 1rem;
}

.product>* {
    margin: 1rem;
}

.productImage {
    flex-basis: 200px;
}

.productCart {
    display: inline-flex;
}

.productCart>* {
    margin-left: 1rem;
}

.disabledButton {
    background-color: #b8b8b8;
}

.colorBox {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}