body {
    font-family: tahoma;
    color: #282828;
    margin: 0px;
}

img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 10px;
    box-shadow: 0px .5px 1px #efefef;
}

button {
    margin-top: 10px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

textarea {
    width: 90%;
    height: 5rem;
}

fieldset {
    padding: 1rem;
}

fieldset>* {
    margin: 0.5rem;
}

.text-muted {
    font-size: 0.8rem;
    color: #666;
}

.nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
}

.product-image,
.product-info {
    width: 50%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-options {
    display: inline-flex;
}

.cart-options>* {
    margin-left: 1rem;
}

.cart {
    position: fixed;
    left: 90%;
    top: 10%;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #2f2f2f;
}

.cart p {
    margin: 3px 5px;
}

.disabledButton {
    background-color: #b8b8b8;
}

.product-variant {
    display: inline-flex;
}

.color-box {
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 1rem;
}

.product-reviews {
    width: 100%;
    border: 2px solid #efefef;
}

.product-review-form {
    width: 400px;
    border: 2px solid #efefef;
    padding: 1rem;
    margin: 1rem;
}

.product-review-form>* {
    margin: 0.5rem;
}

.error {
    color: red;
}

.product-review {
    border: 2px solid #efefef;
    margin: 1rem;
    padding: 0.5rem;
}

.review-message {
    border: 2px solid #efefef;
}